body {

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: linear-gradient(to right, #f0f4f8, hsl(311, 84%, 90%));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculadora {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;
}

input, button {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  background-color: pink;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: hwb(311 1% 2%);
}
